.container {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

#sidebar {
    width: 250px;
    padding: 10px;
    flex-shrink: 0; 
}

#form {
    flex-grow: 1;
}

ul.hyperlink {list-style-type: none; padding: 0;}